%div#my_chats

  - @chats.each do |chat|
    %li= link_to( chat.language, chat_path(chat.id) )


= button_tag "New chat", :id => 'new_chat'

%div#new_chat
  = label_tag :chat_language
  = text_field_tag :chat_language