%div#word_list

%div#game_window
  %h1#game_title= "Battle fireball " + LANGUAGES.invert[@game.language]
  %div#lives
  %div#stage_bar
    %div#stage_one.stage
    %div#stage_two.stage
    %div#stage_three.stage
    %div#stage_four.stage
  %div#peng
  %div#fireball

  %div#toolbar
    %div#boxscore
      %span Score:
      %span#score 0
      %div#boxcontrol
    =link_to 'Play', "", :id => 'btnplay'

  %div#container
    %div.animatedbox
      %span.match
      %span.unmatch
    %div.animatedbox
      %span.match
      %span.unmatch

    %div.animatedbox
      %span.match
      %span.unmatch

    %div.animatedbox
      %span.match
      %span.unmatch

    %div.animatedbox#last
      %span.match
      %span.unmatch

  %div#userAnswer
    = text_field_tag :userInput, nil, :placeholder => 'Type Your Answer Here!'
    = submit_tag 'Submit', :id => "btnsubmit"

  / %div#input.game
  /   = form_tag "/games/#{params[:id]}/messages" do
  /     = text_field_tag :input_text, nil, :autocomplete => "off", :autofocus => :true
  /     = submit_tag "Speak", :id => "speak"
  /     = button_tag "Top", :id => "scroll-to-top"

