/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-color: rgba(0,0,0,0.9);
}

h1{
  color: #f34223;
  font-size: 50px;
}


h2{
  color: #f34223;
}
.editheader{
  font-size: 50px;
  margin-left: -10px;
  color: #dd1c1c;
}


form{
  min-width: 200px;
}

.formgroup{
  display: block;
}

.formgroup input{
  width: 500px;
  font-size: 30px;
  border-bottom: 2px solid #420d00;
  background-color: transparent;
  padding: 1em;
  margin-bottom: 1em;
  display: block;
  color: rgba(255,255,255,.05);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.formgroup input.active{
  outline: 0;
  border-bottom: 8px solid #f34223;
  color: rgba(255,255,255,1);
}

.formgroup label{
  display: block;
  color: #420d00;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.formgroup label.active{
  color: #f34223;
  font-size: 20px;
}

.formmenu #user_native_language{
  min-width: 500px;
  display: block;
  padding: .5em 0 .5em 38%;
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

.formsubmit{
  text-align: center;
  margin-bottom: 10em;
}

.formsubmit input{
  font-size: 20px;
  padding: 1em;
  font-size: 20px;
  border-radius: 0.5em;
  box-shadow: 2px 4px 0 0;
  background-color: #f34223;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.formsubmit input:hover, .formsubmit input:focus{
  box-shadow: 0 0 0 0;
  background-color: #008DBC;
  color: white;
  font-size: 40px;
  font-weight: bold;
}