* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  outline: 0;
  text-decoration: none;
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu); /* !!!!!!!!!!!TEST!!!!!!!!!!! */

body {
  text-rendering: optimize;
  -webkit-font-smoothing:antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #420d00;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
  color: #f34223;
}

h1{
  font-size: 3em;
}

h2.username {
  color: #ddd;
  text-align: center;
  margin-top: -.7em;
}

form {
  min-width: 200px;
}

ul {
  padding: 0;
}

/*NAV*/
img.avatar {
  height: 5em;
  width: 5em;
  margin-left: 3.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 100%;
  border: 3px solid black;
  background-color: white;
}

nav {
  width: 12em;
  height: 100%;
  position: fixed;
  background-color: #f34223;
  // border-bottom-right-radius: 0.5em;
  // border-bottom-style: groove;
  border-color: #776a6a;
}

nav a {
  display: block;
  text-decoration: none;
  padding-bottom: 2em;
  padding-left: 1.8em;
  color: black;
  font-weight: bold;
  margin-left: 35%;
  margin-top: -40%;
}

.selected{
  background-color: #ffdd35;
}

nav ul {
  list-style: none;
}

nav a:hover{
  /*font-weight: bold;*/
}
/* entire container, keeps perspective */
.flip-container{
  -webkit-perspective: 1000px;
  margin-top: 5em;
  margin-bottom: 5em;
}

/* flip pane when hovered */
.flipper:hover{
  -webkit-transform: rotateY(180deg);
}

.flip-container, .front, .back{
  width: 110px;
  height: 10px;
}

/* flipper speed goes here */
.flipper{
  -webkit-transition: all .6s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.flipper div{
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* front pane, placed above back */
.front{
  /*z-index: 2;*/
}

/* back, initially hidden pane */
.back{
  -webkit-transform: rotateY(180deg);
}


/*END NAV*/

.formgroup{
  display: block;
}

.formgroup input{
  width: 500px;
  font-size: 30px;
  border-bottom: 2px solid #420d00;
  background-color: transparent;
  padding: 1em;
  margin-bottom: 1em;
  display: block;
  color: rgba(255,255,255,.05);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.formgroup input.active{
  outline: 0;
  border-bottom: 8px solid #f34223;
  color: rgba(255,255,255,1);
}

.formgroup label{
  display: block;
  color: #420d00;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.formgroup label.active{
  color: #f34223;
  font-size: 20px;
}

.formmenu #user_native_language{
  min-width: 500px;
  display: block;
  padding: .5em 0 .5em 38%;
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

.formsubmit{
  text-align: center;
  width: 100%;
  margin-bottom: 10em;
}

.formsubmit input, a.formsubmit{
  padding: 1em;
  font-size: 25px;
  border-radius: 0.5em;
  box-shadow: 2px 4px 0 0;
  background-color: #f34223;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.formsubmit input:hover, .formsubmit input:focus, a.formsubmit:hover, a.formsubmit:focus{
  box-shadow: 0 0 0 0;
  background-color: #008DBC;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

button, input{
  border: 0;
  font-family: inherit;
}

.invisible {
  display: none;
}

audio {
  height: 50px;
  width: 50px;
}

.content{
  // max-width: 80%;
  margin-left: 15em;
  display: inline-block;
}

#chat_messages {
  width: 500px;
  position: relative;
  margin-bottom:80px;
}

#chat_box {
  max-width: 15em;
  background-color: #f6af1d;
  border-radius: 3em;
  margin: 1em;
  padding: 0.4em;
  list-style: none;
  position: relative;
  color: black;
}

#chat_box.left {
  margin-left: 0;
  line-height: 2em;
  padding: 1em;
  border-bottom-left-radius: 0;
}

#chat_box.right {
  right: 0;
  // border-radius: 3em;
  border-bottom-right-radius: 0;
  padding: 2em;
}

#new_chat{
  font-size: 25px;
  color: white;
  margin-top: 1em;
}

#new_chat input{
  border-radius: 0.3em;
  padding: 0.5em;
  font-size: 18px;
  width: 50%;
  background-color: #008DBC;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#new_chat input:hover{
  font-size: 28px;
  width: 180%;
  color: black;
  background-color: #f34223;
  font-weight: bold;
  text-align: center;
}

#new_chat button{
  width: 60%;
}

#new_chat select{
  /*min-width: 500px;*/
  display: block;
  /*padding-left: 50%;*/
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

#new_chat_button {
  border-radius: 0.3em;
  padding: 0.5em;
  font-size: 18px;
  width: 50%;
  background-color: #008DBC;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#new_chat_button:hover {
  font-size: 28px;
  width: 180%;
  color: black;
  background-color: #f34223;
  font-weight: bold;
  text-align: center;
}

img.sticker {
  max-height: 10em;
  max-width: 10em;
}

img.thumb {
  height: 3.2em;
  width: 3.2em;
}

img.settings_tag {
  height: 3.2em;
  width: 3.2em;
}

img.login_tag {
  width: 3em;
  height: 3em;
}

.timestamp {
  font-size: .8em;
}

.translation {
  font-weight: bold;
  font-size: 1.2em;
}

.play_sound {
  font-size: 1em;
  padding: .4em .7em;
  border-radius: 2em;
  background-color: #F34223;
  width: 2em;
  height: 2em;
  margin-left: 3em;
}

.play_sound:hover {
  color: #F34223;
  background-color: #fff;
}

#input {
  height: 100px;
}

#input form {
  width: 960px;
  max-height: 80px;
  background-color: #191919;
  position: fixed;
  bottom: 0;
}

#input_text {
  height: 100%;
  width: 80%;
  font-size: 40px;
  padding: 14px;
  margin-top: 1px;
  border-bottom: 2px solid #420d00;
  background: none;
  color: rgba(255,255,255, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#input_text:focus{
  outline: 0;
  border-bottom: 6px solid #f34223;
  color: white;
}

/*END CHAT*/
/*INPUT BUTTONS*/
#speak, #scroll-to-top {
  height: 78px;
  width: 90px;
  top: -7px;
  position: relative;
  font-size: 20px;
  border-radius: 0.5em;
  box-shadow: 1px 2px 0 0;
  background-color: #f34223;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#speak:hover, #scroll-to-top:hover {
  box-shadow: 0 0 0 0;
  background-color: #008DBC;
  font-weight: bold;
  color: white;
}
/*END INPUT BUTTONS*/
/*END CHAT




/*FRIEND SEARCH*/

#friend_results {
  /*color: #f34223;*/
}

#friend_results ul {
  /*list-style: none;*/
}

/*#friend_results ul li {
  line-height: 2em;
  background-color: #ddd;
  border: 1px solid #f34223;
}*/

#friend_results ul li:hover {
  background-color: #444;
}

/*USER*/

#user_search{
  min-width: 500px;
  display: block;
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

#ui_menu_item{
  color: white;
}

#add_friend_btn{
  border-radius: 0.3em;
  padding: 0.5em;
  font-size: 18px;
  width: 40%;
  background-color: #008DBC;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#add_friend_btn:hover{
  font-size: 28px;
  width: 54.6%;
  color: black;
  background-color: #f34223;
  font-weight: bold;
  text-align: center;
}

#scores li{
  list-style: none;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#scores li:hover{
  color: rgba(255,255,255,1);
}


/* ABOUT PAGE */

.about {
  min-width: 504px;
}

h1.about, .about p, .about h2{
  text-align: center;
}


.about_peng {
  height: 14em;
  width: 14em;
  overflow: hidden;
  border-radius: 100%;
  background-color: #fff;
  margin:auto;
}

.about_peng img {
  height: 17em;
  width: 17em;
  margin-left: -10%;
}

.signup_signin {
  text-align: center;
  padding-top: 2em;
}

.signup_signin a {
  margin: 0 .5em;
  box-shadow: none;
  color: #fff;
}

a.formsubmit:hover, a.formsubmit:focus {
  font-size: 25px;
}


.us_box {
  // border-top: 5px solid white;
  width: 80%;
  padding-top: 5em;
  margin: auto;
  // margin-top: 5em;
}

.me_box {
  width: 40%;
  margin: auto;
  display: block;
  margin-top: 2em;
  text-align: center;
}

.me_box .bio_img{
  height: 7em;
  width: 7em;
  overflow: hidden;
  border-radius: 100%;
  background-color: #fff;
  margin:auto;
}

.bio_img img {
  margin-left: -5%;
  height: 8em;
  width: 8em;
}

.me_box ul {
  list-style: none;
  padding: 0;
}

.me_box ul li {
  text-align: center;
}

.me_box ul li a, .icon_credit li a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.me_box ul li a:link, .icon_credit li a:link {
  color: #F6AF1D;

}

.me_box ul li a:visited, .icon_credit li a:visited {
  // color:#1C303E;
  color: #008DBC;
}

.me_box ul li a:hover, .icon_credit li a:hover {
  color: #C9E7EF;
}

.acknowledgements h5 {
  text-align: center;
}

ul.icon_credit {
  list-style: none;
  padding-left: 1em;
}

.icon_credit li{
  font-size: .5em;
  padding-top: .8em;
  color:#fff;
  text-align: center;
}

footer {
  text-align: center;
}

/* ABOUT PAGE END */

/*PROGRESS BAR*/
#progressbar .ui-progressbar-value{
  background-color: #f34223;
}

@-viewport {
  width: 900px;
  height: 1280px;
}

@media (max-width: 520px) {
  body {
    // background:  red;
  }

  h1,h2,h3 {
    text-align: center;
  }

  nav {
    width: 100%;
    height: 6em;
    top: 0;
    z-index: 20;
  }

  nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .current_user_box {
    width: 5em;
    display: inline-block;
    vertical-align: top;
    margin-left: .5em;
  }

  img.avatar {
    height: 3em;
    width: 3em;
    margin:1em;
  }

  h2.username {
    font-size: 1em;
    text-align: center;
  }

  nav div{
    margin-left: -1em;
    display: inline-block;
    vertical-align: top;
  }

  .flip-container{
    // -webkit-perspective: 1000px;
    margin-top: 2em;
    display: inline-block;
    vertical-align: top;
    height: 3em;
    width: 3em;
    margin-left: 6%;
  }

  /* flip pane when hovered */
  .flipper:hover{
    -webkit-transform: rotateY(180deg);
  }

  .flip-container, .front, .back{
    width: 40px;
    height: 40px;
  }

  .front img {
    height: 2em;
    width: 2em;
  }

  .back {
    font-size: .5em;
  }

  /* flipper speed goes here */
  .flipper{
    -webkit-transition: all .6s;
    -webkit-transform-style: preserve-3d;
    position: relative;
  }

  /* hide back of pane during swap */
  .flipper div{
    -webkit-backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* front pane, placed above back */
  .front{
    /*z-index: 2;*/
  }

  /* back, initially hidden pane */
  .back{
    -webkit-transform: rotateY(180deg);
  }

  .content {
    max-width: 80%;
    margin: 8em auto;
  }

  .content h2 {
    text-align: center;
  }

  .current_user_box {
    max-width: 15em;
  }

  input#input_text {
    min-width: 100%
  }

  #chat_messages {
    max-width: 500px;
    margin: auto;
  }

  #chat_box {
    min-width: 15em;
    position: relative;
    margin: 1em auto;
    // left:0;
  }

  #chat_box.left {
    left: 0;
    padding: .6em;
    padding-left: 2em;
  }

  #chat_box.right {
    right: 0;
    padding: .6em;
  }

  // #my_chats ul li a{
  //   width: 125%;
  // }

  // #new_chat_button:hover{
  //   width: 125%;

  // }

  // #new_chat input:hover{
  //   width: 125%;
  // }

}