.invisible {
  display: none;
}

#chat_box {
  /*height: 75px;*/
  max-width: 10em;
  background-color: #ff9d00;
  border-radius: 1em;
  margin: 1em;
  padding: 0.4em;
  list-style: none;
}

.translation {
  font-weight: bold;
  font-size: 1.2em;
}