* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  outline: 0;
  text-decoration: none;
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu); /* !!!!!!!!!!!TEST!!!!!!!!!!! */

body {
  text-rendering: optimize;
  -webkit-font-smoothing:antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #90311A;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
  color: #f34223;
}

h1{
  font-size: 3em;
}

h2.username {
  color: #ddd;
  text-align: center;
  margin-top: -.7em;
}

form {
  min-width: 200px;
}

ul {
  padding: 0;
}

/*NAV*/
img.avatar {
  height: 5em;
  width: 5em;
  margin-left: 3.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 100%;
  border: 3px solid black;
  background-color: white;
}

nav {
  width: 12em;
  height: 100%;
  position: fixed;
  background-color: #f34223;
  // border-bottom-right-radius: 0.5em;
  // border-bottom-style: groove;
  border-color: #776a6a;
  left: 0;
  top:0;
}

nav a {
  display: block;
  text-decoration: none;
  padding-bottom: 2em;
  padding-left: 1.2em;
  color: black;
  font-weight: bold;
  margin-left: 35%;
  margin-top: -40%;
}

.selected{
  background-color: #ffdd35;
}

nav ul {
  list-style: none;
}

nav a:hover{
  /*font-weight: bold;*/
}
/* entire container, keeps perspective */
.flip-container{
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  margin-top: 5em;
  margin-bottom: 5em;
}

/* flip pane when hovered */
.flipper:hover{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container, .front, .back{
  width: 110px;
  height: 20px;
}

/* flipper speed goes here */
.flipper{
  -webkit-transition: all .6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: all .6s;
  -moz-transform-style: preserve-3d;
  transition: all .6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.flipper div{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* front pane, placed above back */
.front{
  /*z-index: 2;*/
}

/* back, initially hidden pane */
.back{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.icon-menu,.icon-close{
  opacity: 0;
  z-index: -10;
  pointer-events: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  height: 1em;
}

.icon-menu {
  font-size: 2em;
}

.icon-close{
  float: right;
  margin: 10px 10px auto auto;
}

/*END NAV*/

.formgroup{
  display: block;
}

.formgroup input{
  width: 500px;
  font-size: 30px;
  border-bottom: 2px solid #420d00;
  background-color: transparent;
  padding: 1em;
  margin-bottom: 1em;
  display: block;
  color: rgba(255,255,255,.5);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.formgroup input.active{
  outline: 0;
  border-bottom: 8px solid #f34223;
  color: rgba(255,255,255,1);
}

.formgroup label{
  display: block;
  color: rgba(144, 49, 26, 1);
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.formgroup label.active{
  color: #f34223;
  font-size: 20px;
}

.formmenu #user_native_language{
  min-width: 500px;
  display: block;
  padding: .5em 0 .5em 38%;
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}

.formmenu label{
  color: rgba(144, 49, 26, 1);
}

.formsubmit{
  text-align: center;
  width: 100%;
  margin-bottom: 10em;
}

.formsubmit input, a.formsubmit{
  padding: 1em;
  font-size: 25px;
  -webkit-appearance: none;
   -moz-appearance: none;
  -webkit-border-radius: 0.5em;
     -moz-border-radius: 0.5em;
          border-radius: 0.5em;
  -webkit-box-shadow: 2px 4px 0 0;
    -moz-box-shadow: 2px 4px 0 0;
        box-shadow: 2px 4px 0 0;
  background-color: #f34223;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
     -moz-transition-property: all;
     -moz-transition-duration: 0.3s;
     -moz-transition-timing-function: ease-in-out;
       -o-transition-property: all;
       -o-transition-duration: 0.3s;
       -o-transition-timing-function: ease-in-out;
          transition-property: all;
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;
}

.formsubmit input:hover,
.formsubmit input:focus,
a.formsubmit:hover,
a.formsubmit:focus{
  box-shadow: 0 0 0 0;
  background-color: #008DBC;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

button, input{
  -webkit-appearance: none;
     -moz-appearance: none;
  border: 0;
  font-family: inherit;
}

.invisible {
  display: none;
}

audio {
  height: 50px;
  width: 50px;
}

.content{
  // max-width: 80%;
  margin-left: 15em;
  display: inline-block;
}

#chat_messages {
  width: 100%;
  position: relative;
  margin-bottom:80px;
}

#chat_box {
  max-width: 15em;
  background-color: #f6af1d;
  border-radius: 3em;
  margin: 1em;
  padding: 0.4em;
  list-style: none;
  position: relative;
  color: black;
}

#chat_box.left {
  margin-left: 0;
  line-height: 2em;
  padding: 1em;
  border-bottom-left-radius: 0;
}

#chat_box.right {
  margin-left:20em;
  // border-radius: 3em;
  border-bottom-right-radius: 0;
  padding: 2em;
}

#new_chat{
  font-size: 25px;
  color: white;
  margin-top: 1em;
}

#new_chat input{
  border-radius: 0.3em;
  padding: 0.5em;
  font-size: 18px;
  width: 50%;
  background-color: #008DBC;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#new_chat input:hover{
  font-size: 28px;
  width: 180%;
  color: black;
  background-color: #f34223;
  font-weight: bold;
  text-align: center;
}

#new_chat button{
  -webkit-appearance: none;
     -moz-appearance: none;
  width: 60%;
}

#new_chat select{
  /*min-width: 500px;*/
  display: block;
  /*padding-left: 50%;*/
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

#new_chat_button {
  -webkit-appearance: none;
    -moz-appearance: none;
  border-radius: 0.3em;
  padding: 0.5em;
  font-size: 18px;
  width: 50%;
  background-color: #008DBC;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#new_chat_button:hover {
  font-size: 28px;
  width: 180%;
  color: black;
  background-color: #f34223;
  font-weight: bold;
  text-align: center;
}

img.sticker {
  max-height: 10em;
  max-width: 10em;
}

img.thumb {
  height: 3.2em;
  width: 3.2em;
}

img.settings_tag {
  height: 3.2em;
  width: 3.2em;
}

img.login_tag {
  width: 3em;
  height: 3em;
}

.timestamp {
  font-size: .8em;
}

.translation {
  font-weight: bold;
  font-size: 1.2em;
}

.play_sound {
  font-size: 1em;
  padding: .4em .7em;
  border-radius: 2em;
  background-color: #F34223;
  width: 2em;
  height: 2em;
  margin-left: 3em;
}

.play_sound:hover {
  color: #F34223;
  background-color: #fff;
}

#input {
  width: 100%;
  height: 100px;
}

#input form {
  width: 100%;
  max-height: 80px;
  background-color: #191919;
  position: fixed;
  bottom: 0;
}

#input_text {
  height: 100%;
  width: 50%;
  font-size: 40px;
  padding: 14px 0;
  margin-top: 1px;
  border-bottom: 2px solid #420d00;
  background: none;
  color: rgba(255,255,255, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#input_text:focus{
  outline: 0;
  border-bottom: 6px solid #f34223;
  color: white;
}

/*END CHAT*/
/*INPUT BUTTONS*/
#btn-set{
  width: 30%;
}

#input_text, #btn-set{
  display: inline-block;
}

#speak, #scroll-to-top {
  display: inline-block;
  height: 78px;
  min-width: 80px;
  top: -7px;
  position: relative;
  font-size: 20px;
  border-radius: 0.5em;
  box-shadow: 1px 2px 0 0;
  background-color: #f34223;
  -webkit-appearance: none;
     -moz-appearance: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#speak:hover, #scroll-to-top:hover {
  box-shadow: 0 0 0 0;
  background-color: #008DBC;
  font-weight: bold;
  color: white;
}
/*END INPUT BUTTONS*/
/*END CHAT

/*FRIEND SEARCH*/

#friend_results {
  /*color: #f34223;*/
}

#friend_results ul {
  /*list-style: none;*/
}

/*#friend_results ul li {
  line-height: 2em;
  background-color: #ddd;
  border: 1px solid #f34223;
}*/

#friend_results ul li:hover {
  background-color: #444;
}

/*USER*/

#user_search{
  min-width: 500px;
  display: block;
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

#ui_menu_item{
  color: white;
}

#add_friend_btn{
  border-radius: 0.3em;
  padding: 0.5em;
  font-size: 18px;
  width: 40%;
  background-color: #008DBC;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#add_friend_btn:hover{
  font-size: 28px;
  width: 54.6%;
  color: black;
  background-color: #f34223;
  font-weight: bold;
  text-align: center;
}

#scores li{
  list-style: none;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#scores li:hover{
  color: rgba(255,255,255,1);
}


/* ABOUT PAGE */

.about {
  width: 504px;
  text-align: center;
  margin: auto;
}

#sub-title{
  padding-bottom: 0.5em;
}

#summary{
  background-color: rgba(117, 114, 113, 0.08);
  padding: 0 0 3em 0;
  border: 5px solid;
}

#summary h3, #summary p{
  color: rgba(255, 255, 255, 0.6);
}

.about_peng {
  height: 14em;
  width: 14em;
  margin:auto;

}

.about_peng img {
  height: 14em;
  width: 14em;
}

.signup_signin {
  text-align: center;
  padding-top: 2.5em;
}

.signup_signin a {
  margin: 0.5em;
  box-shadow: none;
  color: #fff;
}

a.formsubmit:hover, a.formsubmit:focus {
  font-size: 25px;
}

.us_box {
  width: 100%;
  padding-top: 3em;
  margin: 5em auto;
}

.me_box {
  width: 32%;
  margin: auto;
  display: inline-block;
  margin-top: 2em;
  text-align: center;
  vertical-align: top;
}

.me_box .bio_img{
  height: 7em;
  width: 7em;
  overflow: hidden;
  border-radius: 100%;
  background-color: #fff;
  margin:auto;
}

.bio_img img {
  margin-left: -5%;
  height: 8em;
  width: 8em;
}

.me_box ul {
  list-style: none;
  padding: 0;
}

.me_box ul li {
  text-align: center;
}

.me_box ul li a, .icon_credit li a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.me_box ul li a:link, .icon_credit li a:link {
  color: rgba(216, 134, 65, 1);

}

.me_box ul li a:visited, .icon_credit li a:visited {
  // color:#1C303E;
  color: #008DBC;
}

.me_box ul li a:hover, .icon_credit li a:hover {
  color: #C9E7EF;
}

.acknowledgements h5 {
  text-align: center;
}

ul.icon_credit {
  list-style: none;
}

.icon_credit li{
  font-size: .5em;
  padding-top: .8em;
  color:#fff;
  text-align: center;
}

footer {
  text-align: center;
}

/* ABOUT PAGE END */

/*PROGRESS BAR*/
#progressbar .ui-progressbar-value{
  background-color: #f34223;
}

@-viewport {
  width: 900px;
  height: 1280px;
}

@media screen and (max-width: 960px){
  .content {
    width: 65%;
    height: 100%;
  }

  #my_chats ul li a,
  #new_chat input:hover,
  #new_chat_button:hover,
  #my_games ul li a,
  #new_game input:hover,
  #new_game_button:hover{
    width: 100%;
  }

  #chat_box.right{
    margin-left: 50%;
    min-width: 210px;
  }

  #input_text{
    width: 40%;
  }

  #speak, #scroll-to-top{
    height: 65px;
    width: 60px;
    font-size: 15px;
  }

}

@media screen and (max-width: 640px){
  body {
    // background:  red;
  }

  h1,h2,h3 {
    text-align: center;
  }

  nav {
    z-index: 2000;
    left:-192px;
    margin-bottom: 1.5em;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .icon-close img{
    width: 40px;
    height: 40px;
  }

  .icon-menu{
    position: fixed;
    background-color: black;
    width: 100%;
  }

  .icon-close, .icon-menu{
    opacity: 1;
    z-index: 1000;
    pointer-events: auto;
    height: 2em;
  }

  .icon-close:hover{
    transform: scale(1.2, 1.2);
  }

  .current_user_box {
    width: 5em;
    display: inline-block;
    vertical-align: top;
    margin-left: .5em;
  }

  img.avatar {
    margin-left: 1.5em;
  }

  h2.username {
    font-size: 1em;
    text-align: center;
    margin-left: 3.5em;
  }

  .flip-container{
    // -webkit-perspective: 1000px;
    width: 30%;
    margin-top: 2em;
    margin-left: 6%;
  }

  /* flip pane when hovered */
  .flipper:hover{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  /* flipper speed goes here */
  .flipper{
    -webkit-transition: all .6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: all .6s;
    -moz-transform-style: preserve-3d;
    ransition: all .6s;
    transform-style: preserve-3d;
    position: relative;
  }

  /* hide back of pane during swap */
  .flipper div{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* front pane, placed above back */
  .front{
    /*z-index: 2;*/
  }

  /* back, initially hidden pane */
  .back{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .content {
    width: 100%;
    margin: 2.5em auto;
  }

  .content h2 {
    text-align: center;
  }

  .current_user_box {
    max-width: 15em;
  }

  input #input_text {
    min-width: 80%
  }


  #chat_messages {
    width: 100%;
    margin: auto;
  }

  #chat_box {
    min-width: 15em;
    position: relative;
    margin: 1em auto;
    // left:0;
  }

  #chat_box.left {
    left: 0;
    padding: .6em;
    padding-left: 2em;
  }

  #chat_box.right {
    margin-left: 60%;
    min-width: 190px;
    padding: .6em;
  }

  #my_chats ul li a{
    width: 100%;
  }

  #new_chat_button:hover{
    width: 100%;
  }

  #new_chat input:hover{
    width: 100%;
  }

  #input_text{
    width: 60%;
    font-size: 20px;
  }

  #btn-set{
    width: 20%;
  }

  #scroll-to-top,
  #speak{
     min-width: 40px;
  }

  #my_games ul li a{
    width: 100%;
  }

  #new_game_button:hover{
    width: 100%;
  }

  #new_game input:hover{
    width: 100%;
  }

  .about {
    width: 100%;
  }

  #summary{
    padding: 0.2em 0 3em 0;
    border-left:0;
    border-right: 0;
  }

  .about_peng {
    height: 11em;
    width: 12em;
    margin: auto;
  }

  .about_peng img {
    height: 12em;
    width: 12em;
  }

  #title{
    padding-top: 0.6em;
  }

  .us_box {
    width: 80%;
    padding-top: 1.5em;
  }

  .me_box {
    width: 60%;
    margin: auto;
    display: block;
    margin-top: 2em;
    text-align: center;
  }

  .formgroup input,
  .formmenu #user_native_language{
    width: 100%;
    min-width: 100%;
    font-size: 20px;
    padding: 0.5em;
  }

  .formsubmit input:hover,
  .formsubmit input:focus,
  a.formsubmit:hover,
  a.formsubmit:focus{
    font-size: 25px;
  }

  .signup_signin {
    text-align: center;
    padding-top: 2em;
  }

  .signup_signin a {
    margin: 0.5em;
    box-shadow: none;
    color: #fff;
  }

  .formsubmit input, a.formsubmit{
    font-size: 20px;
  }

  img.sticker {
    max-height: 7em;
    max-width: 7em;
  }


}

@media screen and (max-width: 440px){
  #chat_box.right {
    margin-left: 40%;
  }

  #speak, #scroll-to-top {
    height: 45px;
    width: 65px;
    font-size: 12px;
    text-align: center;
  }

}