body{
  font-family: arial;
  text-rendering: optimize;
  -webkit-font-smoothing:antialiased;
}

.invisible {
  display: none;
}

.content{
  max-width: 80%;
  margin: auto;
  display: inline-block;
  margin-left: 20%;
}

/*CHAT*/
.sticker{
}

#audio{
  width: 45px;
  height: 10px;
}

#chat_box {
  /*height: 75px;*/
  max-width: 10em;
  background-color: #ff9d00;
  border-radius: 1em;
  margin: 1em;
  padding: 0.4em;
  list-style: none;
}

.translation {
  font-weight: bold;
  font-size: 1.2em;
}
/*END CHAT*/


/*NAV*/
nav{
  margin-top: 0.5em;
  max-width: 20%;
  max-height: 40%;
  position: fixed;
}

nav a{
  display: block;
  text-decoration: none;
  color: black;
}

nav ul{
  list-style: none;
}

nav ul li:nth-child(5n){
  font-weight: bold;
}

nav a:hover{
  font-weight: bold;
}

/*END NAV


/**/