body{
  -webkit-transform: translateZ(0px);
  font-family: arial;
  text-rendering: optimize;
  -webkit-font-smoothing:antialiased;
}

.box {
  height: 75px;
  width: 75px;
  background-color: #ff9d00;
  border-radius: 1em;
  margin: 20em;
  padding: 1em;
}

#audio{
  width: 45px;
  height: 10px;
}

.invisible {
  display: none;
}

.content{
  max-width: 80%;
  margin: auto;
  display: inline-block;
}

#chat_box {
  max-width: 10em;
  background-color: #ff9d00;
  border-radius: 1em;
  margin: 1em;
  padding: 0.4em;
  list-style: none;
}

img.sticker {
  max-height: 10em;
  max-width: 10em;
}

.translation {
  font-weight: bold;
  font-size: 1.2em;
}

nav{
  max-width: 20%;
  /*position: fixed;*/
  display: inline-block;
  vertical-align: top;
}

nav a{
  display: block;
}