#game_window {
  width: 100%;
  background: #C9E7EF;
  border-radius: 0.7em;
  margin: 0;
  height: 60em;
  margin-bottom: -20em;
}

#input.game {
  position: absolute;
}

#my_games ul {
  list-style: none;
  padding-left: 0;
}

#my_games ul li{
  list-style: none;
  position: relative;
}

#my_games ul li a {
  color: white;
  height: 3em;
  border-radius: 0.3em;
  padding: 1em 3em;
  background: #008DBC;
  width: 180%;
  display: block;
  font-size: 2em;
  margin-top: 0.58em;
  margin-bottom: 0.58em;
  text-align: center;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

#my_games ul li a.invisible {
  display: none;
}

#my_games ul li a:hover {
  background: #C9E7EF;
  color:#008DBC;
}

#my_games ul li:hover > form button.show_delete_game{
  opacity: 100;
}

.show_delete_game {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 25px;
  left: 25px;
  background-color:#008DBC;
  color: #1C303E;
  z-index: 1;
  font-size: 2em;
  font-weight: bold;
  -webkti-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  opacity: 0;
  padding-bottom: 0.1em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.show_delete_game:hover {
  background-color: #1C303E;
  color: #fff;
  opacity: 100;
}

#new_game_button{
  border-radius: 0.3em;
  padding: 0.5em;
  font-size: 18px;
  width: 50%;
  background-color: #008DBC;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#new_game_button:hover {
  font-size: 28px;
  width: 180%;
  color: black;
  background-color: #f34223;
  font-weight: bold;
  text-align: center;
}

#new_game{
  margin-top: 1em;
  font-size: 25px;
  color: white;
}

#new_game input{
  border-radius: 0.3em;
  padding: 0.5em;
  font-size: 18px;
  width: 50%;
  background-color: #008DBC;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#new_game input:hover{
  font-size: 28px;
  width: 180%;
  color: black;
  background-color: #f34223;
  font-weight: bold;
  text-align: center;
}

#new_game button{
  width: 60%;
}

#new_game select{
  /*min-width: 500px;*/
  display: block;
  /*padding-left: 50%;*/
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}


@media screen and (max-width: 960px){
  #my_games ul li a,
  #new_game input:hover,
  #new_game_button:hover{
    width: 100%;
  }
}