
#ani_container {
    background: url(http://cdn2.qvectors.net./downloads/images/preview/snow_landscape_vector_preview.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 600px;
    height: 300px;
    /*margin-left: 15%;*/
    -webkit-border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    border-radius: 0.7em;
    padding: 20px 0;
}

.animatedbox {
    background: #ff0084;
    position: absolute;
    padding: 8px 20px 12px 15px;
    font-size: 36px;
    color: #ffffff;
    -webkit-border-radius: 0.5em 2.5em 2.5em 0.5em;
    -moz-border-radius: 0.5em 2.5em 2.5em 0.5em;
    border-radius: 0.5em 2.5em 2.5em 0.5em;
    left: 500px;
    letter-spacing: 3px;
    display: none;
}
.match {
    color: #000000;
}
.current {
    background: #0099cc;
}
#toolbar {
    background: #f34223;

    width: 600px;
    height: 40px;
    padding: 10px 0 10px 0;
    /*margin-left:15%;*/
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
#boxscore {
    font-size: 22px;
    color: #ffffff;
    width: 200px;
}
#score {
    font-weight: bold;
    font-size: 24px;
    padding: 0 3px;
}

.clear {
    margin-top: 5px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    clear: both;
}

#userAnswer {
    margin-left: 15%;
    margin-bottom: 20%;
}

#userInput {
    width: 300px;

}

#btnplay{
    text-decoration: none;
    font-size: 25px;
    color: white;
    width: 180px;
}

#toolbar a:hover{
    color: #FFFF00;
}

#boxscore, #btnplay, .pengLives{
    display: inline-block;
    vertical-align: top;
    position: relative;
}

/* game images*/
.fireball_game{
    width: 200px;
    height: 200px;
    left: 55%;
    position: absolute;
}

.peng_game{
    width: 150px;
    height: 150px;
    margin-top: 10%;
}
/*---------------------------*/

/* water_stick */

.water_stick{
    width: 500px;
    height: 30px;
    border-radius: 0.5em;
    border: 2px solid #003D99;
    margin-top: 38%;
/*    position: absolute;*/
}

.water1, .water2, .water3, .water4, .water5 {
    width: 85px;
    height: 20px;
    margin-left: 2%;
    margin-top: 3px;
    display: inline-block;

}

.water_stick, .water_basket{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 15px;
}

.water1{
    background-color: #5CADFF;
    border: 3px solid #5CADFF;
}
.water2{
    background-color: #33ADFF;
    border: 3px solid #33ADFF;
}
.water3{
    background-color: #005CE6;
    border: 3px solid #005CE6;
}
.water4{
    background-color: #0000FF;
    border: 3px solid #0000FF;
}
.water5{
    background-color: #0000B2;
    border: 3px solid #0000B2;
}

/*---------------------------*/

#game_title{
    text-align: center;
}

/* lives*/

#liveImg1, #liveImg2, #liveImg3{
    width: 3em;
    height: 3em;
    display: inline-block;

}

.pengLives{
    position: right;
    width: 180px

}

/*.pengLives, #btnplay, #boxscore{
    display: inline-block;
    vertical-align: top;
}
*/
/*---------------------------*/


/*answer div and words list div*/

#answer, #question{
    margin: 3%;
    background-color: #85C2FF;
    padding: 1em;
    border-radius: 0.5em;
    color: white;
}

#str_answer{
    color: #005CE6;
    font-size: 25px;
}



.answers, .words{
    background-color: #3399FF;
    border-radius: 1em;
    margin-left: 1.5%;
    width: 200px;
    max-width: 20%;
    max-height: 670px;
    overflow: scroll;
}

.answers, #game_window{
    display: inline-block;
    vertical-align: top;
}

.words, #game_window{
    display: inline-block;
    vertical-align: top;
}

.answerSlide, .wordSlide{
    cursor:pointer;
    width: 190px;
    height: 70px;
    margin: 3%;
    text-decoration:none;
    -moz-border-bottom-left-radius:1em;
    -moz-border-bottom-right-radius:1em;
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em;
}

.answerSheet, .wordSheet {
    display:none;
}

#answerTitle, #wordListTitle {
    margin:0;
    padding:0;
    border-top:solid 2px #85C2FF;
    text-align:center;
    color: white;
}

.answerSlide:hover, .wordSlide:hover{
    background-color: #85C2FF;
    color: #85C2FF;
    border-top:solid 2px #3399FF;
}


/* end of the game msg */

.msgEnd{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
    margin-left: 1.5%;
    margin-top: -13%;
    width: 580px;
    height: 400px;
    overflow: scroll;
    text-align: center;
}

#you_win, #game_over, #yourScore, #comment{
    margin-left: 3%;

}

#you_win, #game_over{
    margin-top: 10%;
    color: #FF8533;
    text-align: center;
    font-size: 70px;
}

#replay, #learnMore{
    background-color: #3399FF;
    padding: 1px;
    margin: 3%;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height:70px;
    border-radius: 1em;
}

#replay:hover, #learnMore:hover{
    background-color: #f34223;
    cursor:pointer;
}

#replayPrint, #learnMorePrint{
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 13%;
}





/*---------------------------*/

.fireball-animation {
  -webkit-animation: fireball 1500ms linear infinite both;
  animation: fireball 1500ms linear infinite both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/mSq3zk */

@-webkit-keyframes fireball {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20, 0, 0, 1); }
  2.222222% { -webkit-transform: matrix3d(1.13551, 0, 0, 0, 0, 1.13551, 0, 0, 0, 0, 1, 0, -12.17409, 0, 0, 1); transform: matrix3d(1.13551, 0, 0, 0, 0, 1.13551, 0, 0, 0, 0, 1, 0, -12.17409, 0, 0, 1); }
  4.444444% { -webkit-transform: matrix3d(1.16497, 0, 0, 0, 0, 1.16497, 0, 0, 0, 0, 1, 0, -5.94147, 0, 0, 1); transform: matrix3d(1.16497, 0, 0, 0, 0, 1.16497, 0, 0, 0, 0, 1, 0, -5.94147, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(1.14067, 0, 0, 0, 0, 1.14067, 0, 0, 0, 0, 1, 0, -1.82828, 0, 0, 1); transform: matrix3d(1.14067, 0, 0, 0, 0, 1.14067, 0, 0, 0, 0, 1, 0, -1.82828, 0, 0, 1); }
  8.888889% { -webkit-transform: matrix3d(1.09801, 0, 0, 0, 0, 1.09801, 0, 0, 0, 0, 1, 0, 0.41207, 0, 0, 1); transform: matrix3d(1.09801, 0, 0, 0, 0, 1.09801, 0, 0, 0, 0, 1, 0, 0.41207, 0, 0, 1); }
  11.111111% { -webkit-transform: matrix3d(1.05687, 0, 0, 0, 0, 1.05687, 0, 0, 0, 0, 1, 0, 1.31336, 0, 0, 1); transform: matrix3d(1.05687, 0, 0, 0, 0, 1.05687, 0, 0, 0, 0, 1, 0, 1.31336, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(1.02572, 0, 0, 0, 0, 1.02572, 0, 0, 0, 0, 1, 0, 1.41594, 0, 0, 1); transform: matrix3d(1.02572, 0, 0, 0, 0, 1.02572, 0, 0, 0, 0, 1, 0, 1.41594, 0, 0, 1); }
  15.555556% { -webkit-transform: matrix3d(1.00606, 0, 0, 0, 0, 1.00606, 0, 0, 0, 0, 1, 0, 1.14069, 0, 0, 1); transform: matrix3d(1.00606, 0, 0, 0, 0, 1.00606, 0, 0, 0, 0, 1, 0, 1.14069, 0, 0, 1); }
  17.777778% { -webkit-transform: matrix3d(0.99596, 0, 0, 0, 0, 0.99596, 0, 0, 0, 0, 1, 0, 0.76006, 0, 0, 1); transform: matrix3d(0.99596, 0, 0, 0, 0, 0.99596, 0, 0, 0, 0, 1, 0, 0.76006, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(0.99239, 0, 0, 0, 0, 0.99239, 0, 0, 0, 0, 1, 0, 0.41887, 0, 0, 1); transform: matrix3d(0.99239, 0, 0, 0, 0, 0.99239, 0, 0, 0, 0, 1, 0, 0.41887, 0, 0, 1); }
  22.222222% { -webkit-transform: matrix3d(0.99253, 0, 0, 0, 0, 0.99253, 0, 0, 0, 0, 1, 0, 0.17249, 0, 0, 1); transform: matrix3d(0.99253, 0, 0, 0, 0, 0.99253, 0, 0, 0, 0, 1, 0, 0.17249, 0, 0, 1); }
  24.444444% { -webkit-transform: matrix3d(0.99428, 0, 0, 0, 0, 0.99428, 0, 0, 0, 0, 1, 0, 0.02403, 0, 0, 1); transform: matrix3d(0.99428, 0, 0, 0, 0, 0.99428, 0, 0, 0, 0, 1, 0, 0.02403, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(0.99636, 0, 0, 0, 0, 0.99636, 0, 0, 0, 0, 1, 0, -0.04733, 0, 0, 1); transform: matrix3d(0.99636, 0, 0, 0, 0, 0.99636, 0, 0, 0, 0, 1, 0, -0.04733, 0, 0, 1); }
  28.888889% { -webkit-transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, -0.06829, 0, 0, 1); transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, -0.06829, 0, 0, 1); }
  31.111111% { -webkit-transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, -0.06212, 0, 0, 1); transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, -0.06212, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.04531, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.04531, 0, 0, 1); }
  35.555556% { -webkit-transform: matrix3d(0.86476, 0, 0, 0, 0, 0.86476, 0, 0, 0, 0, 1, 0, -7.85589, 0, 0, 1); transform: matrix3d(0.86476, 0, 0, 0, 0, 0.86476, 0, 0, 0, 0, 1, 0, -7.85589, 0, 0, 1); }
  37.777778% { -webkit-transform: matrix3d(0.83535, 0, 0, 0, 0, 0.83535, 0, 0, 0, 0, 1, 0, -14.07725, 0, 0, 1); transform: matrix3d(0.83535, 0, 0, 0, 0, 0.83535, 0, 0, 0, 0, 1, 0, -14.07725, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.8596, 0, 0, 0, 0, 0.8596, 0, 0, 0, 0, 1, 0, -18.18166, 0, 0, 1); transform: matrix3d(0.8596, 0, 0, 0, 0, 0.8596, 0, 0, 0, 0, 1, 0, -18.18166, 0, 0, 1); }
  42.222222% { -webkit-transform: matrix3d(0.90219, 0, 0, 0, 0, 0.90219, 0, 0, 0, 0, 1, 0, -20.41567, 0, 0, 1); transform: matrix3d(0.90219, 0, 0, 0, 0, 0.90219, 0, 0, 0, 0, 1, 0, -20.41567, 0, 0, 1); }
  44.444444% { -webkit-transform: matrix3d(0.94325, 0, 0, 0, 0, 0.94325, 0, 0, 0, 0, 1, 0, -21.31313, 0, 0, 1); transform: matrix3d(0.94325, 0, 0, 0, 0, 0.94325, 0, 0, 0, 0, 1, 0, -21.31313, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.97434, 0, 0, 0, 0, 0.97434, 0, 0, 0, 0, 1, 0, -21.41398, 0, 0, 1); transform: matrix3d(0.97434, 0, 0, 0, 0, 0.97434, 0, 0, 0, 0, 1, 0, -21.41398, 0, 0, 1); }
  48.888889% { -webkit-transform: matrix3d(0.99395, 0, 0, 0, 0, 0.99395, 0, 0, 0, 0, 1, 0, -21.1384, 0, 0, 1); transform: matrix3d(0.99395, 0, 0, 0, 0, 0.99395, 0, 0, 0, 0, 1, 0, -21.1384, 0, 0, 1); }
  51.111111% { -webkit-transform: matrix3d(1.00403, 0, 0, 0, 0, 1.00403, 0, 0, 0, 0, 1, 0, -20.75814, 0, 0, 1); transform: matrix3d(1.00403, 0, 0, 0, 0, 1.00403, 0, 0, 0, 0, 1, 0, -20.75814, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(1.00759, 0, 0, 0, 0, 1.00759, 0, 0, 0, 0, 1, 0, -20.41757, 0, 0, 1); transform: matrix3d(1.00759, 0, 0, 0, 0, 1.00759, 0, 0, 0, 0, 1, 0, -20.41757, 0, 0, 1); }
  55.555556% { -webkit-transform: matrix3d(1.00745, 0, 0, 0, 0, 1.00745, 0, 0, 0, 0, 1, 0, -20.17176, 0, 0, 1); transform: matrix3d(1.00745, 0, 0, 0, 0, 1.00745, 0, 0, 0, 0, 1, 0, -20.17176, 0, 0, 1); }
  57.777778% { -webkit-transform: matrix3d(1.0057, 0, 0, 0, 0, 1.0057, 0, 0, 0, 0, 1, 0, -20.02371, 0, 0, 1); transform: matrix3d(1.0057, 0, 0, 0, 0, 1.0057, 0, 0, 0, 0, 1, 0, -20.02371, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.00363, 0, 0, 0, 0, 1.00363, 0, 0, 0, 0, 1, 0, -19.95261, 0, 0, 1); transform: matrix3d(1.00363, 0, 0, 0, 0, 1.00363, 0, 0, 0, 0, 1, 0, -19.95261, 0, 0, 1); }
  62.222222% { -webkit-transform: matrix3d(1.00189, 0, 0, 0, 0, 1.00189, 0, 0, 0, 0, 1, 0, -19.93178, 0, 0, 1); transform: matrix3d(1.00189, 0, 0, 0, 0, 1.00189, 0, 0, 0, 0, 1, 0, -19.93178, 0, 0, 1); }
  64.444444% { -webkit-transform: matrix3d(1.00069, 0, 0, 0, 0, 1.00069, 0, 0, 0, 0, 1, 0, -19.93799, 0, 0, 1); transform: matrix3d(1.00069, 0, 0, 0, 0, 1.00069, 0, 0, 0, 0, 1, 0, -19.93799, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.95469, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.95469, 0, 0, 1); }
  68.888889% { -webkit-transform: matrix3d(0.99969, 0, 0, 0, 0, 0.99969, 0, 0, 0, 0, 1, 0, -19.97242, 0, 0, 1); transform: matrix3d(0.99969, 0, 0, 0, 0, 0.99969, 0, 0, 0, 0, 1, 0, -19.97242, 0, 0, 1); }
  71.111111% { -webkit-transform: matrix3d(0.99963, 0, 0, 0, 0, 0.99963, 0, 0, 0, 0, 1, 0, -19.98654, 0, 0, 1); transform: matrix3d(0.99963, 0, 0, 0, 0, 0.99963, 0, 0, 0, 0, 1, 0, -19.98654, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(0.99968, 0, 0, 0, 0, 0.99968, 0, 0, 0, 0, 1, 0, -19.99586, 0, 0, 1); transform: matrix3d(0.99968, 0, 0, 0, 0, 0.99968, 0, 0, 0, 0, 1, 0, -19.99586, 0, 0, 1); }
  75.555556% { -webkit-transform: matrix3d(0.99978, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, -20.00093, 0, 0, 1); transform: matrix3d(0.99978, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, -20.00093, 0, 0, 1); }
  77.777778% { -webkit-transform: matrix3d(0.99987, 0, 0, 0, 0, 0.99987, 0, 0, 0, 0, 1, 0, -20.00298, 0, 0, 1); transform: matrix3d(0.99987, 0, 0, 0, 0, 0.99987, 0, 0, 0, 0, 1, 0, -20.00298, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(0.99994, 0, 0, 0, 0, 0.99994, 0, 0, 0, 0, 1, 0, -20.00321, 0, 0, 1); transform: matrix3d(0.99994, 0, 0, 0, 0, 0.99994, 0, 0, 0, 0, 1, 0, -20.00321, 0, 0, 1); }
  82.222222% { -webkit-transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, -20.00258, 0, 0, 1); transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, -20.00258, 0, 0, 1); }
  84.444444% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -20.00172, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -20.00172, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -20.00095, 0, 0, 1); transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -20.00095, 0, 0, 1); }
  88.888889% { -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -20.00039, 0, 0, 1); transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -20.00039, 0, 0, 1); }
  91.111111% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -20.00005, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -20.00005, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -19.99989, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -19.99989, 0, 0, 1); }
  95.555556% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.99985, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.99985, 0, 0, 1); }
  97.777778% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.99986, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.99986, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20, 0, 0, 1); }
}

@keyframes fireball {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20, 0, 0, 1); }
  2.222222% { -webkit-transform: matrix3d(1.13551, 0, 0, 0, 0, 1.13551, 0, 0, 0, 0, 1, 0, -12.17409, 0, 0, 1); transform: matrix3d(1.13551, 0, 0, 0, 0, 1.13551, 0, 0, 0, 0, 1, 0, -12.17409, 0, 0, 1); }
  4.444444% { -webkit-transform: matrix3d(1.16497, 0, 0, 0, 0, 1.16497, 0, 0, 0, 0, 1, 0, -5.94147, 0, 0, 1); transform: matrix3d(1.16497, 0, 0, 0, 0, 1.16497, 0, 0, 0, 0, 1, 0, -5.94147, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(1.14067, 0, 0, 0, 0, 1.14067, 0, 0, 0, 0, 1, 0, -1.82828, 0, 0, 1); transform: matrix3d(1.14067, 0, 0, 0, 0, 1.14067, 0, 0, 0, 0, 1, 0, -1.82828, 0, 0, 1); }
  8.888889% { -webkit-transform: matrix3d(1.09801, 0, 0, 0, 0, 1.09801, 0, 0, 0, 0, 1, 0, 0.41207, 0, 0, 1); transform: matrix3d(1.09801, 0, 0, 0, 0, 1.09801, 0, 0, 0, 0, 1, 0, 0.41207, 0, 0, 1); }
  11.111111% { -webkit-transform: matrix3d(1.05687, 0, 0, 0, 0, 1.05687, 0, 0, 0, 0, 1, 0, 1.31336, 0, 0, 1); transform: matrix3d(1.05687, 0, 0, 0, 0, 1.05687, 0, 0, 0, 0, 1, 0, 1.31336, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(1.02572, 0, 0, 0, 0, 1.02572, 0, 0, 0, 0, 1, 0, 1.41594, 0, 0, 1); transform: matrix3d(1.02572, 0, 0, 0, 0, 1.02572, 0, 0, 0, 0, 1, 0, 1.41594, 0, 0, 1); }
  15.555556% { -webkit-transform: matrix3d(1.00606, 0, 0, 0, 0, 1.00606, 0, 0, 0, 0, 1, 0, 1.14069, 0, 0, 1); transform: matrix3d(1.00606, 0, 0, 0, 0, 1.00606, 0, 0, 0, 0, 1, 0, 1.14069, 0, 0, 1); }
  17.777778% { -webkit-transform: matrix3d(0.99596, 0, 0, 0, 0, 0.99596, 0, 0, 0, 0, 1, 0, 0.76006, 0, 0, 1); transform: matrix3d(0.99596, 0, 0, 0, 0, 0.99596, 0, 0, 0, 0, 1, 0, 0.76006, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(0.99239, 0, 0, 0, 0, 0.99239, 0, 0, 0, 0, 1, 0, 0.41887, 0, 0, 1); transform: matrix3d(0.99239, 0, 0, 0, 0, 0.99239, 0, 0, 0, 0, 1, 0, 0.41887, 0, 0, 1); }
  22.222222% { -webkit-transform: matrix3d(0.99253, 0, 0, 0, 0, 0.99253, 0, 0, 0, 0, 1, 0, 0.17249, 0, 0, 1); transform: matrix3d(0.99253, 0, 0, 0, 0, 0.99253, 0, 0, 0, 0, 1, 0, 0.17249, 0, 0, 1); }
  24.444444% { -webkit-transform: matrix3d(0.99428, 0, 0, 0, 0, 0.99428, 0, 0, 0, 0, 1, 0, 0.02403, 0, 0, 1); transform: matrix3d(0.99428, 0, 0, 0, 0, 0.99428, 0, 0, 0, 0, 1, 0, 0.02403, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(0.99636, 0, 0, 0, 0, 0.99636, 0, 0, 0, 0, 1, 0, -0.04733, 0, 0, 1); transform: matrix3d(0.99636, 0, 0, 0, 0, 0.99636, 0, 0, 0, 0, 1, 0, -0.04733, 0, 0, 1); }
  28.888889% { -webkit-transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, -0.06829, 0, 0, 1); transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, -0.06829, 0, 0, 1); }
  31.111111% { -webkit-transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, -0.06212, 0, 0, 1); transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, -0.06212, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.04531, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.04531, 0, 0, 1); }
  35.555556% { -webkit-transform: matrix3d(0.86476, 0, 0, 0, 0, 0.86476, 0, 0, 0, 0, 1, 0, -7.85589, 0, 0, 1); transform: matrix3d(0.86476, 0, 0, 0, 0, 0.86476, 0, 0, 0, 0, 1, 0, -7.85589, 0, 0, 1); }
  37.777778% { -webkit-transform: matrix3d(0.83535, 0, 0, 0, 0, 0.83535, 0, 0, 0, 0, 1, 0, -14.07725, 0, 0, 1); transform: matrix3d(0.83535, 0, 0, 0, 0, 0.83535, 0, 0, 0, 0, 1, 0, -14.07725, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.8596, 0, 0, 0, 0, 0.8596, 0, 0, 0, 0, 1, 0, -18.18166, 0, 0, 1); transform: matrix3d(0.8596, 0, 0, 0, 0, 0.8596, 0, 0, 0, 0, 1, 0, -18.18166, 0, 0, 1); }
  42.222222% { -webkit-transform: matrix3d(0.90219, 0, 0, 0, 0, 0.90219, 0, 0, 0, 0, 1, 0, -20.41567, 0, 0, 1); transform: matrix3d(0.90219, 0, 0, 0, 0, 0.90219, 0, 0, 0, 0, 1, 0, -20.41567, 0, 0, 1); }
  44.444444% { -webkit-transform: matrix3d(0.94325, 0, 0, 0, 0, 0.94325, 0, 0, 0, 0, 1, 0, -21.31313, 0, 0, 1); transform: matrix3d(0.94325, 0, 0, 0, 0, 0.94325, 0, 0, 0, 0, 1, 0, -21.31313, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.97434, 0, 0, 0, 0, 0.97434, 0, 0, 0, 0, 1, 0, -21.41398, 0, 0, 1); transform: matrix3d(0.97434, 0, 0, 0, 0, 0.97434, 0, 0, 0, 0, 1, 0, -21.41398, 0, 0, 1); }
  48.888889% { -webkit-transform: matrix3d(0.99395, 0, 0, 0, 0, 0.99395, 0, 0, 0, 0, 1, 0, -21.1384, 0, 0, 1); transform: matrix3d(0.99395, 0, 0, 0, 0, 0.99395, 0, 0, 0, 0, 1, 0, -21.1384, 0, 0, 1); }
  51.111111% { -webkit-transform: matrix3d(1.00403, 0, 0, 0, 0, 1.00403, 0, 0, 0, 0, 1, 0, -20.75814, 0, 0, 1); transform: matrix3d(1.00403, 0, 0, 0, 0, 1.00403, 0, 0, 0, 0, 1, 0, -20.75814, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(1.00759, 0, 0, 0, 0, 1.00759, 0, 0, 0, 0, 1, 0, -20.41757, 0, 0, 1); transform: matrix3d(1.00759, 0, 0, 0, 0, 1.00759, 0, 0, 0, 0, 1, 0, -20.41757, 0, 0, 1); }
  55.555556% { -webkit-transform: matrix3d(1.00745, 0, 0, 0, 0, 1.00745, 0, 0, 0, 0, 1, 0, -20.17176, 0, 0, 1); transform: matrix3d(1.00745, 0, 0, 0, 0, 1.00745, 0, 0, 0, 0, 1, 0, -20.17176, 0, 0, 1); }
  57.777778% { -webkit-transform: matrix3d(1.0057, 0, 0, 0, 0, 1.0057, 0, 0, 0, 0, 1, 0, -20.02371, 0, 0, 1); transform: matrix3d(1.0057, 0, 0, 0, 0, 1.0057, 0, 0, 0, 0, 1, 0, -20.02371, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.00363, 0, 0, 0, 0, 1.00363, 0, 0, 0, 0, 1, 0, -19.95261, 0, 0, 1); transform: matrix3d(1.00363, 0, 0, 0, 0, 1.00363, 0, 0, 0, 0, 1, 0, -19.95261, 0, 0, 1); }
  62.222222% { -webkit-transform: matrix3d(1.00189, 0, 0, 0, 0, 1.00189, 0, 0, 0, 0, 1, 0, -19.93178, 0, 0, 1); transform: matrix3d(1.00189, 0, 0, 0, 0, 1.00189, 0, 0, 0, 0, 1, 0, -19.93178, 0, 0, 1); }
  64.444444% { -webkit-transform: matrix3d(1.00069, 0, 0, 0, 0, 1.00069, 0, 0, 0, 0, 1, 0, -19.93799, 0, 0, 1); transform: matrix3d(1.00069, 0, 0, 0, 0, 1.00069, 0, 0, 0, 0, 1, 0, -19.93799, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.95469, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.95469, 0, 0, 1); }
  68.888889% { -webkit-transform: matrix3d(0.99969, 0, 0, 0, 0, 0.99969, 0, 0, 0, 0, 1, 0, -19.97242, 0, 0, 1); transform: matrix3d(0.99969, 0, 0, 0, 0, 0.99969, 0, 0, 0, 0, 1, 0, -19.97242, 0, 0, 1); }
  71.111111% { -webkit-transform: matrix3d(0.99963, 0, 0, 0, 0, 0.99963, 0, 0, 0, 0, 1, 0, -19.98654, 0, 0, 1); transform: matrix3d(0.99963, 0, 0, 0, 0, 0.99963, 0, 0, 0, 0, 1, 0, -19.98654, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(0.99968, 0, 0, 0, 0, 0.99968, 0, 0, 0, 0, 1, 0, -19.99586, 0, 0, 1); transform: matrix3d(0.99968, 0, 0, 0, 0, 0.99968, 0, 0, 0, 0, 1, 0, -19.99586, 0, 0, 1); }
  75.555556% { -webkit-transform: matrix3d(0.99978, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, -20.00093, 0, 0, 1); transform: matrix3d(0.99978, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, -20.00093, 0, 0, 1); }
  77.777778% { -webkit-transform: matrix3d(0.99987, 0, 0, 0, 0, 0.99987, 0, 0, 0, 0, 1, 0, -20.00298, 0, 0, 1); transform: matrix3d(0.99987, 0, 0, 0, 0, 0.99987, 0, 0, 0, 0, 1, 0, -20.00298, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(0.99994, 0, 0, 0, 0, 0.99994, 0, 0, 0, 0, 1, 0, -20.00321, 0, 0, 1); transform: matrix3d(0.99994, 0, 0, 0, 0, 0.99994, 0, 0, 0, 0, 1, 0, -20.00321, 0, 0, 1); }
  82.222222% { -webkit-transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, -20.00258, 0, 0, 1); transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, -20.00258, 0, 0, 1); }
  84.444444% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -20.00172, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -20.00172, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -20.00095, 0, 0, 1); transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -20.00095, 0, 0, 1); }
  88.888889% { -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -20.00039, 0, 0, 1); transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -20.00039, 0, 0, 1); }
  91.111111% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -20.00005, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -20.00005, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -19.99989, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -19.99989, 0, 0, 1); }
  95.555556% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.99985, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.99985, 0, 0, 1); }
  97.777778% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.99986, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.99986, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20, 0, 0, 1); }
}

