<!DOCTYPE html>
<html>
  <head>
    <title>Translate API Example</title>
    <link rel="stylesheet" href="transtest.css">
  </head>
  <body>
    <div class='box animation-target'>
      <div id='sticker'>&#9786;</div>
      <div id="sourceText">cold</div>
      <div id="translation"></div>
      <br>
      <audio id="audio" controls="controls"></audio>
    </div>
    <div id="key" style="display:none"><%= API_KEY %></div>
    <script>
    var translation = null;
      function translateText(response) {
        document.getElementById("translation").innerHTML += response.data.translations[0].translatedText;
        translation = document.getElementById("translation").innerHTML;
      }

      var newScript = document.createElement('script');
      newScript.type = 'text/javascript';
      var sourceText = escape(document.getElementById("sourceText").innerHTML);
      // WARNING: be aware that YOUR-API-KEY inside html is viewable by all your users.
      // Restrict your key to designated domains or use a proxy to hide your key
      // to avoid misuage by other party.
      var key = document.getElementById('key').innerHTML;
      var source = 'https://www.googleapis.com/language/translate/v2?key='+ key +'&source=en&target=ko&callback=translateText&q=' + sourceText;
      newScript.src = source;

      // When we add this script to the head, the request is sent off.
      document.getElementsByTagName('head')[0].appendChild(newScript);

      var audio = "http://translate.google.com/translate_tts?ie=UTF-8&q=감기&tl=ko";

      var newAudio = document.getElementById('audio');
      newAudio.src = audio;
    </script>
  </body>
</html>